.imageContainer {
    margin: 1rem auto;
    width: 65%;
    border: .15rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer img {
    width: 100%;
}
.imageContainerTwo {
    margin: 1rem auto;
    width: 65%;
    height: 17rem;
    border: .15rem solid black;
    background-image: url("images/travels_NZ_2.JPG");
    background-size: cover;

}
