html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --palegreen: rgba(152, 251, 152, 0.4);
}
body {
  margin: 0 auto;
  height: 100vh;
}
#root {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 20% 70% 10%;
  width: 100%;
  height: 100%;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.15rem; }
p { font-size: 2rem; }
/* label, input { font-size: 2rem; } */
/* span { font-size: 1.5rem; } */
button { font-size: 1.5rem; }
li { font-size: 1.5rem; }
code { font-size: 1.5rem; }
th, td { font-size: 2rem; }

h1, h2, h3, p, label, input, span, li, th, td {
  font-family: verdana, helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 0.15rem;
  background-color: none;
}
/* Button styles. --------------------------------------------- */
button {
  font-family: verdana, helvetica, sans-serif;
  text-align: center;
  margin: 0.2rem auto;
  color: white;
  background-color: black;
  border: 0.15rem solid white;
  box-shadow: 0 0.15rem black, 0 -0.15rem black, 0.15rem 0 black,
    -0.15rem 0 black;
  border-radius: 0.5rem;
  padding: 0.15rem 0.25rem;
}
button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
/* Header styles. --------------------------------------------- */
.header {
  width: 100%;
  margin: 0 auto 0.75rem;
  padding-bottom: 0.25rem;
  background-color: var(--palegreen);
  border-bottom: 0.3rem solid darkgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.header h1,
.header h2 {
  text-shadow: 0 0.15rem white, 0 -0.15rem white, 0.15rem 0 white,
    -0.15rem 0 white;
}
/* Navigation styles. ---------------------------------------- */
.navAside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 0.3rem solid darkgreen;
  overflow-y: scroll;
}
.navAside .subtitle, .navAside .title {
  color: darkgreen;
  font-weight: bold;
}
.nav {
  background-color: white;
  margin: .5rem auto;
  width: 95%;
  height: 95%;
}
.nav ul {
  margin: .3rem auto;
  padding: 0;
  list-style-type: none;
  border-bottom: 0.3rem solid darkgreen;
}
.nav ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
}
.nav ul li a:hover {
  background-color: var(--palegreen);
  cursor: pointer;
}
.nav ul li a:active {
  background-color: var(--palegreen);
}
/* Main styles. ---------------------------------------------- */
.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* border: 0.15rem solid red; */
  padding: .25rem;
  padding-left: .75rem;
  overflow-y: scroll;
  overflow-x: scroll;
}
.main h3 {
  text-align: left;
  text-decoration: underline;
  margin-bottom: .5rem;
}
.main pre {
  margin: 0 auto;
}
/* Footer styles. -------------------------------------------- */
.footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  width: 100%;
  margin: 1rem auto 0;
  border-top: 0.3rem solid darkgreen;
  background-color: var(--palegreen);
}
/* Media queries. -------------------------------------------- */
@media screen and (min-width: 801px) {
  html {
    font-size: 12px;
  }
  body {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
  button {
    border-radius: 0.4rem;
  }
}
@media screen and (max-width: 400px) and (max-width: 700px) {
  #root {
    grid-template-columns: 100%;
    grid-template-rows: 12.5% 25% 52.5% 10%;
  }
  .header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .navAside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .main {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .footer {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}
